.nextTable
{
    border: 1px solid black;
    list-style-type: none;
}

.manageTable
{
    border: 1px solid black;
    text-align: justify;
}

.item
{
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    background-color: cyan;
    width: 125px;
    height: 125px;
}